.featureInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:ghostwhite;
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
}

.featuredTitle{
    font-size: 20px;
    align-items: center;
    font-weight: 600;
    color: blue;
}

.featuredContainer{
    margin:10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredIcon{
    font-size: 200;
    margin-left: 5px;
    color: green;
    align-items: center;
}

.featuredNumber{
    font-size: 50px;
    font-weight: 1200;
}