.widgetOne{
    flex: 1;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
    padding: 20px;
    margin-right: 20px;
}

.oneTitle{
    font-size: 22px;
    font-weight: 600;
}

.patientList{
    margin:0;
    padding: 0;
    list-style: none;
}

.patientItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 0px;
    
}

.userDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    font-weight: 600;  
}

.title{
    font-weight: 300;
}

.eid{
    font-weight: 300;
}

.emailID{
    font-weight: 300;
}

.mobileNumber{
    font-weight: 300;
}

.approveButton{
    display: flex;
    align-items: center;
    border:none;
    border-radius: 10px;
    padding: auto;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.rejectButton{
    display: flex;
    align-items: center;
    border:none;
    border-radius: 10px;
    padding: auto;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.visibilityIcon{
    font-size: 16 !important;
    margin-right: 5px;
}